@import "tailwindcss";

:root {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains);
}

h1,
h3,
span {
  font-family: var(--font-mono);
}

h2,
h4,
p {
  font-family: var(--font-sans);
}